<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LFLiveKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840762EB1D07C7D0000FD0BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840763041D07C7D0000FD0BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8407630F1D07C7D0000FD0BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
